//TURTLE
// $color1: #e5efc1;
// $color2: #a2d5ab;
// $color3: #39aea9;
// $color4: #557b83;

//AMPHIBIAN
// $color1: #3e54d3;
// $color2: #4f80e2;
// $color3: #15cdca;
// $color4: #4fe0b6;

//MATTE
$color1: #293556;
// $color2: ;
$color3: #39aea9;
$color4: #557b83;
body {
  background-color: white;
}

.App {
  text-align: center;
  height: 100vh;
  color: black;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
}

h1 {
  height: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 20%;
  div {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}

.box {
  margin-top: 10%;
  border: 2px solid black;
  height: 75px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

input {
  font-size: 24px;
  text-align: center;
  padding: 2px;
  padding-bottom: 4px;
  background: none;
  border: none;
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}

.message {
  font-size: 24px;
  // margin: 10px;
  // margin-bottom: 20px;
  height: 10%;
}

button {
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
  // border: none;
  border: 2px solid black;
  background-color: yellow;
  color: black;
  border-radius: 18px;
  letter-spacing: 2px;
  transition: 0.15s;
}

button:hover {
  transition: 0.15s;
  background-color: black;
  color: yellow;
}

button:active {
  opacity: 0.7;
}

.input_btn {
  height: 10%;
}

ul {
  list-style: none;
  // border: 1px solid pink;
  height: 35%;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: scroll;
  li {
    font-size: 25px;
    margin: 8px;
    border: 1px solid black;
    width: 125px;
    padding: 5px;
    border-radius: 18px;
    padding-bottom: 8px;
    // animation: grow 0.5s;
  }
}

//when you score apply these styles
.score {
  animation: grow 0.5s, pulse 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score_val {
  display: flex;
  align-items: center;
}

.score_val_score {
  animation: shake 0.5s;
}

.wrong {
  animation: wrong 0.5s, shake 0.5s;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 1px rgba(26, 206, 28, 1);
    color: green;
  }
  100% {
    box-shadow: 0px 0px 20px 20px rgba(26, 206, 28, 0);
  }
}

@keyframes grow {
  0% {
    font-size: 25px;
    color: green;
  }
  50% {
    font-size: 35px;
    color: green;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wrong {
  0% {
    font-size: 25px;
    color: red;
  }
  50% {
    font-size: 35px;
    color: red;
  }
  100% {
    font-size: 25px;
  }
}
